	main{
	padding: 15px;
}

#connexion{
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 100px;
    padding-bottom: 30px;
    background: #f9f9f9;
}

h1{
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

h2{
	margin: 20px;
	text-align: center;
	font-weight: bold;
}

table{
	margin: auto;
	border-collapse: collapse;
}

th, .entete{
	text-align: center;
	font-size: 1.5em;
}

#newPartie{
	margin-top: 15px;
}

.case{
	width: 40px;
	height: 40px;
}

.position{
	font-size: .6em;
	text-align: center;
	border:4px solid black;
}

.lettre-double{
	background: lightblue;
}

.lettre-triple{
	background: darkblue;
}

.mot-double, .case-centre{
	background: pink;
}

.mot-triple{
	background: red;
}

.case-valeur.lettre-double:after{
	content: "lettre compte double";
}

.case-valeur.lettre-triple:after{
	color:white;
	content: "lettre compte triple";
}

.case-valeur.mot-double:after{
	content: "mot compte double";
}

.case-valeur.mot-triple:after{
	content: "mot compte triple";
}

.autre-case{
	background: green;
}

.cadre-blanc{
	border: 5px solid white;
}

.cadre-noir{
	border: 5px solid black;
}

#legende {
	margin-top: 30px;
}

.inline-block{
	display: inline-block;
}

p{
	font-size: 2em;
}

p span{
	font-size: 1.5em;
	line-height: 1.5em;
}

.lettres{
	font-size: 1.5em;
}

.bold{
	font-weight: bold;
}

#lettres{
	margin-top: 60px;
}

#ligneTirage{
	margin-top: 15px;
}

#afficheTirage{
	margin: 30px;
	text-align:center;
}

.lettre{
	background: #BD8D46;
	text-align: center;
	font-size: 2em;
	line-height: 1em;
	font-weight: bold;
	border: 1px solid silver;
	padding: 0;
}

.d{
	width: 200px;
}

.b{
	border: 1px solid black;
	text-align: center;
}

.m{
	margin-left: 10px;
}

#plateau {
	margin-bottom: 30px;
}

#plateau th{
	padding-right: 5px;
}

#scrabble{
	margin: 20px;
	padding: 30px 0;
	border: 5px solid green;
	width:800px;
	background: #888;

}

#scrabble table{
	margin:0;
}

#scores p{
	font-size: 1em;
}

.blanc{
	color: #BD8D46;
}

.clear{
	clear: both;
}

.lettres-reserve{
	float: left;
}

#reserve{
	margin-top: 10px;
	font-size: 1em;
	line-height: 1.7em;
	font-weight: bold;
}

}#reserve td{
	padding: 0 5px;
}

#reserve td:nth-child(3n){
	font-weight: bold;
	text-align: right;
}

#reserve td:nth-child(3n+2){
	padding: 0 5px;
	font-weight: bold;
}


#scores table{
	width: 200px;
}

#scores th{
	padding: 10px 0;
}

#scores th:nth-child(odd){
	padding: 10px 0;
	border-right: 2px solid black;
}

#scores td{
	text-align: right;
	padding: 5px;
}

#scores td:nth-child(odd){
	border-right: 1px solid black;
}

#scores td:nth-child(2){
	border-right: 2px solid black;
}

/**/

th{
	/*display:none;*/
	font-size: 1.5em;
	vertical-align: middle;
}

.bord{
	border: 1px solid black;
}

.mot{
	text-transform: uppercase;
}

#scrores table{
	border: 2px solid black;
}
