main{
    margin : 15px 0;
}

table{
    margin: auto;
    border-collapse: collapse;

}

th, .entete{
    text-align: center;
    font-size: 1.5em;
}



.autre-case{
    width: 3vw;
    height: 3vw;
    background: green;
    border:6px solid black;
}

.lettre-double{
    width: 3vw;
    height: 3vw;
    background: lightblue;
    border:6px solid black;
}

.lettre-triple{
    width: 3vw;
    height: 3vw;
    background: darkblue;
    border:6px solid black;
}

.mot-double{
    width: 3vw;
    height: 3vw;
    background: pink;
    border:6px solid black;
}

.mot-triple{
    width: 3vw;
    height: 3vw;
    background: red;
    border:6px solid black;
}

.cadre-blanc{
    border: 5px solid white;
}

.cadre-noir{
    border: 5px solid black;
}

.legende{
    margin-top: 15px;
    margin-left: 50px;
}

.ligne-legende{
    /*height: 4vw;*/
    margin: 5px 0;
}

.inline-block{
    display: inline-block;
}

p{
    font-size: 2em;
}

p span{
    font-size: 1.5em;
    line-height: 1.5em;
}

.def-lettre-double{
    background: lightblue;
    color: lightblue;

}

.def-lettre-triple{
    background: darkblue;
    color: darkblue;

}

.def-mot-double{
    background: pink;
    color: pink;

}

.def-mot-triple{
    background: red;
    color: red;

}

.lettres{
    font-size: 1.5em;
}

.bold{
    font-weight: bold;
}

#tirage{
    margin-top: 30px;
}

.lettre{
    background: #BD8D46;
    width: 3vw;
    height: 3vw;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    border: 1px solid white;
}
