/*RESET*/
*{
	box-sizing:border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/*ol, ul {
	list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*fin de reset*/
/*----------------------------------------------------*/

main{
    margin : 15px 0;
}

table{
    margin: auto;
    border-collapse: collapse;
}

#table{
    margin-left: 20px;
}

th, .entete{
    text-align: center;
    font-size: 1.5em;
}

.case{
    width: 40px;
    height: 40px;
}

.position{
    font-size: .7em;
    text-align: center;
    border:6px solid black;
}

.lettre-double{
    background: lightblue;
}

.case-valeur.lettre-double:after{
    content: "lettre compte double";
}

.lettre-triple{
    background: darkblue;
}

.case-valeur.lettre-triple:after{
    color:white;
    content: "lettre compte triple";
}

.mot-double, .case-centre{
    background: pink;
}

.case-valeur.case-centre:after{
    font-family: 'Glyphicons Halflings';
    content: "\e006";
    font-size: 2em;
}

.case-valeur.mot-double:after{
    content: "mot compte double";
}

.mot-triple{
    background: red;
}

.case-valeur.mot-triple:after{
    content: "mot compte triple";
}

.autre-case{
    background: green;
}

.cadre-blanc{
    border: 5px solid white;
}

/*.cadre-noir{
    border: 5px solid black;
}*/

#legende {
    margin-top: 30px;
}


.inline-block{
    display: inline-block;
}

p{
    font-size: 2em;
}

p span{
    font-size: 1.5em;
    line-height: 1.5em;
}

.def{
    font-size: .8em;
    text-align: center;
}

.lettres{
    font-size: 1.5em;
}

.bold{
    font-weight: bold;
}

#lettres{
    margin-top: 60px;
}

#afficheTirage{
    margin: 30px;
    text-align:center;
}

#boutonsTirage{
    margin: 50px;
}

.lettre{
    background: #BD8D46;
    text-align: center;
    font-size: 2em;
    line-height: 40px;
    font-weight: bold;
    border: 1px solid silver;
    padding: 0;
}

.d{
    width: 200px;
}

.b{
    border: 1px solid black;
    text-align: center;
}

.m{
    margin-left: 10px;
}

#plateau {
    margin-bottom: 30px;
}

#scrabble{
	margin-top: 20px;
}

.blanc{
    color: #BD8D46;
}

.clear{
    clear: both;
}

.lettres-reserve{
    float: left;
}

#ligne-reserve{
    position:relative;
	margin-top: 80px;
}

#A{
    position: absolute;
    top:0;
    left:0;
}

#B{
    position: absolute;
    top:0;
    left:160px;
}

#C{
    position: absolute;
    top:80px;
    left:200px;
}

#D{
    position: absolute;
    left:320px;
}

#E{
    position: absolute;
    left:400px;
}

#F{
    position: absolute;
	left:0;
    top:160px;
}

#G{
    position: absolute;
    top:160px;
    left:80px;
}

#H{
    position: absolute;
    top:160px;
    left:160px;
}

#I{
    position: absolute;
    top:160px;
    left:240px;
}

#J{
    position: absolute;
    top:160px;
    left:400px;
}

#K{
    position: absolute;
    top:200px;
    left:440px;
}

#L{
    position: absolute;
    top:160px;
    left:480px;
}

#M{
    position: absolute;
	left:0;
    top:280px;
}

#N{
    position: absolute;
    top:280px;
    left:80px;
}

#O{
    position: absolute;
    top:280px;
    left:200px;
}

#P{
    position: absolute;
    top:280px;
    left:320px;
}

#Q{
    position: absolute;
    top:360px;
    left:360px;
}

#R{
    position: absolute;
    top:280px;
    left:400px;
}

#S{
    position: absolute;
    top:280px;
    left:520px;
}

#T{
    position: absolute;
	left:0;
    top:440px;
}

#U{
    position: absolute;
    top:440px;
    left:160px;
}

#V{
    position: absolute;
    top:440px;
    left:320px;
}

#W{
    position: absolute;
    top:440px;
    left:400px;
}

#X{
    position: absolute;
    top:480px;
    left:440px;
}

#Y{
    position: absolute;
    top:440px;
    left:480px;
}

#Z{
    position: absolute;
    top:480px;
    left:520px;
}

#_{
    position: absolute;
    top:440px;
    left:560px;
	color: #BD8D46;
}

/**/
